<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vues</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>This is Vue</h1>
<div id="app">
<div v-if="showDiscography">
<ul>
    <li v-for="discography in discographies">
        <h3><span style="font-weight: bold;">Artist :</span>{{discography.artist}}</h3>
        <p><span style="font-weight: bold;">Album :</span>{{discography.album}}</p>
        <p><span style="font-weight: bold;">Genre :</span>{{discography.genre}}</h3>


    </li>
</ul>
</div>
</div>

    <script src="/script.js"></script>
</body>
</html>

